<ul class="bxslider">
		<% @products.each do |product| %>
		  <div id="img_field" class="product">
        <%= attachment_image_tag(product, :image, size: "300x200", fallback: "no_image.jpg") %>
      </div>
		<% end %>
</ul>