<div id="contents-wrapper">
  <section id="contents">
    <div id="about">
      <hr class="line" />
	    <div class="title">Ngano Cake について</div>
	    <img src="assets/about.png" alt="shop" width="60px" ></image>
	    <img class="line-under" src="assets/line_underl.png" width="100%"></image>
	    <div class="about-describe">
        <br>
        ながのCAKEは全国発送可能なケーキ屋さんです。<br>
        <br>
        お子さんからお年寄りまでお召し上がりいただけるよう、<br>
<<<<<<< HEAD
        様々なバリエーションをご用意しております。<br>
=======
        様々なバリデーションをご用意しております。<br>
>>>>>>> 6535c75c29d88ccfcb0e23be37f9834ddbd7bba8
        <br>
        また、全国へ発送可能ですので「いつ」でも「どこ」でもご注文いただけます。<br>
        ぜひ、ご注文ください。
      </div>
      <div id="about-shop">
      <div id="shop">
        <br>
        <div class="frame">
          <img src="assets/shop.jpg" alt="shop" width="600" height="338" ></image>
        </div>
        <br>
      </div>
      </div>
    </div>
  </section>
</div>