<<<<<<< HEAD
=======
<div class="container">
>>>>>>> 6535c75c29d88ccfcb0e23be37f9834ddbd7bba8
<div class="flame">
  <div class="row">
    <div class="col-12 text-center">
      <h1>List(Total<%= @products.count %>)</h1>
    </div>
  </div>
</div>

<div class="row">
  <%= render "product_each", product: @product %>
</div>

<div class="text-center">
  <%= paginate @products %>
</div>
<<<<<<< HEAD

=======
</div>
>>>>>>> 6535c75c29d88ccfcb0e23be37f9834ddbd7bba8
