<% provide(:title, "ホーム") %>

<div class="class container">
  <div class="class row">
    <div class="col-xs-12">
      <div class = "sample">
				<!--<img src="">-->
				<p>
				  <span class="welcome">ようこそ　NaganoCakeへ</span><br>
				  このサイトは、ケーキ販売のECサイトになります。<br>
				  会員でない方も商品の閲覧はできますが、<br>
				  購入には会員登録が必要になります。<br>
				</p>
      </div>
    </div>
  </div>
</div>

<h2 class="toppage-head">新着商品</h2>

<div class="col-xs-12">
　<%= link_to "全ての商品を見る", products_path, class: "btn-link  pull-right" %>
</div>