<% provide(:title, "ホーム") %>

<%= render 'public/products/articles', products: @products %>

<div class="inner-container">
  <div class="row">

      <div class = "sample">
				<p>
				  <span id="welcome" class=“bg-primary” >ようこそ　<strong id="nagano-cake">Nagano Cake</strong>　へ</span><br>
				  <span class="describe">
				      <br>
				      このサイトは、ケーキ販売のECサイトになります。<br>
				      会員でない方も商品の閲覧はできますが、購入には会員登録が必要になります。<br>
				  </span>
				</p>
      </div>

  </div>
</div>

<div>
	<h2 class="toppage-head">おすすめ商品</h2>
    <div class="toppage">
      <% @products.first(5). each do |product| %>
  　     <%= render "product_each", product: product %>
      <% end %>
    </div>
</div>


<div class="col-xs-12">
　<%= link_to "全ての商品を見る", products_path, class: "btn-link  pull-right" %>
</div>