<div class="search-form">
  <%= form_with url: admin_searchs_path, method: :get, local: true do |f| %>
  <%= f.text_field :keyword, value: @keyword, placeholder: "商品検索" %>
  <%= f.submit "search" %>
  <% end %>
</div>