<% if @delivery.present? %>
　<table class="table table-hover table-bordered">
　  <thead>
　    <tr class="info" >
       <th>郵便番号</th>
       <th>住所</th>
       <th>宛先</th>
       <th colspan = "2"></th>
　    </tr>
　  </thead>

　</table>