/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require bxslider
 *= require_tree .
 *= require_self
 */

 html{
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

 body{
  width: 100%;
  position: relative;
  min-height: 100%;
  background-image: url(/assets/background.jpg);
 }

.main {
  padding-bottom: 100px;
  padding-top: 50px;
}

 /* ========================================================================== */
/* header                                                                      */
/* ==========================================================================  */

#header-out {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
  height: 50px;
}

#header-conteiner {
  width: 100%;
  padding-right: 40px;
  padding-left: 40px;
  margin: 0 30px;
}

#header-logo {
  width: 148px;
  height: 138px;
  position: absolute;
  overflow: hidden;
  margin: 0 20 -38 20;
  padding: 0;
  text-align: center;
  z-index: 1;
  border-radius: 5px;
  border: none;
  position: relative;
  height: 138px;
}

#logo {
  position: absolute;
  top: 0;
  left: 0;
  border: none;
  font-family: 'logo';
  color: white;
  z-index: 2;
}

#top-path {
  text-decoration: none;
  width: 148px;
  height: 138px;
}

#navbarNavDropdown {
  display: flex !important;
  flex-basis: auto;
}

.navbar-nav {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.nav-inner {
  padding-bottom: 40px;
}

#navbarNavDropdown li {
  display: inline-block;
  vertical-align: middle;
  margin-right: 30px;
}

#navbarNavDropdown li a {
  font-size: 15px;
  color: #8b4513;
  font-weight: bold;
}

.navbar-toggler {
  z-index: 2;
}


footer {
  background-color:#FFEFD5;
	height: 75px;
	width: 100%;
	position: absolute;
	bottom: 0;
	text-align: center;
}

a:hover{
  text-decoration: none!important;
}

@import "bootstrap"

