<div class="card">
  <div class="card-body">
    <h4 class="card-title">ようこそ　NaganoCakeへ</h4>
    <p class="card-text">
	     このサイトは、ケーキ販売のECサイトになります。<br>
	     会員でない方も商品の閲覧はできますが、<br>
	     購入には会員登録が必要になります。<br>
    </p>
    <h2 class="toppage-head">新着商品</h2>
    <a href="products_path" class="card-link">全てを見る</a>
  </div>
</div>